.playerCaption {
	text-align: center;
	width: 100%;
	position: relative;
	top: -30px;
	color: white;
	text-shadow: 0px 0px 3px black;
}

/* .playerCaption:hover {
	color: blue !important;
} */

.playerImage {
	max-width: 100%;
}

.playerContainer:hover {
	background: yellow;
}